.issue {
  position: relative;
}

.issue img {
  padding: 0px;
  margin-bottom: 0px;
  width: 10%;
}

.issue.closed {
  background-color: red;
}

.issue.ng-move {
  -webkit-transition:0.2s linear all;
  opacity:0.5;
  -webkit-transform:scale(0.5);
}

.issue.ng-move.ng-move-active {
  opacity:1;
  -webkit-transform:scale(1.0);
}

.issue .ribbon {
  z-index: 100;
}

.issue.active .ribbon {
  opacity: 0.25;
}
