.issue.closed {
  background-color: red;
}

.issue img {
  padding: 0px;
  margin-bottom: 0px;
  width: 10%;
}

/*.issue.ng-move {

  -webkit-animation:view_enter 1s;
}

@-webkit-keyframes view_enter {
  0% { opacity:1; }
  50% { opacity:0.5; }
  75% { opacity:0.9; }
  100% { opacity:1; }
}*/

.issue.ng-move {
  -webkit-transition:0.2s linear all;
  opacity:0.5;
  -webkit-transform:scale(0.95);
}

.issue.ng-move.ng-move-active {
  opacity:1;
  -webkit-transform:scale(1.0);
}
