<p class="row">
  <div class="col">
    <div class="input-group">
      <input escapable ng-model="filter" type="text" class="form-control" placeholder="filter">
    </div>
  </div>
</p>
<p class="row">
  <div class="list-group col-md-3">
    <h3>Current <span class="label label-default">{{currentIssues.$getIndex().length}}</span></h3>
    <issues issues='currentIssues' filter='filter' active-issue-id='activeIssueId'></issues>
  </div>

  <div class="list-group col-md-3">
    <h3>Backlog <span class="label label-default">{{backlogIssues.$getIndex().length}}</span></h3>
    <issues issues='backlogIssues' filter='filter' active-issue-id='activeIssueId'></issues>
  </div>

  <div class="list-group col-md-3">
    <h3>Icebox <span class="label label-default">{{iceboxIssues.$getIndex().length}}</span></h3>
    <issues issues='iceboxIssues' filter='filter' active-issue-id='activeIssueId'></issues>
  </div>
</p>
