<div class="list-group col-md-3">
  <div ng-repeat='issue in issues' ng-class='[issue.state]' class='list-group-item issue'>
    <h4 class='list-group-item-heading'>
      <a ng-href='{{issue.html_url}}'>{{issue.title}}</a>
    </h4>
    <div class="row">
      <div class="col-md-12">
        <a class='thumbnail pull-right' ng-href='{{assigneeUrl(issue.assignee)}}'>
          <img ng-src='{{assigneeImageUrl(issue.assignee)}}'></img>
        </a>
        <a ngHref='{{issue.comments_url}}'>
          <span class="badge">
            {{issue.comments}}
            <ng-pluralize count='issue.comments' when='{"one":  "comment", "other": "comments"}'></ng-pluralize>
          </span>
        </a>
        <span ng-repeat='label in issue.labels'>
          <span class='label' style='background-color:#{{label.color}};'>{{label.name}}</span>
        </span>
      </div>
    </div>
  </div>
</div>
