<div class="list-group col-lg-3">
  <div ng-repeat='issue in issues' ng-class='[issue.state]' class='list-group-item'>
    <h4 class='list-group-item-heading'>{{issue.title}}</h4>
    <div ng-repeat='label in issue.labels'>
      <span class='label' style='background-color:#{{label.color}};'>{{label.name}}</span>
    </div>
    <div class='list-group-item-text'>{{issue.body}}</div>
    <a ngHref='{{issue.comments_url}}'>
      <ng-pluralize count='issue.comments' when='{"one":  "comment", "other": "comments"}'></ng-pluralize>
      <span class="badge">{{issue.comments}}</span>
    </a>
  </div>
</div>
